{{#each products as |product|}}
<div class="product-module prod-desc" data-id={{product._id}} data-toggle="modal" data-target="#productModal">
<div class"product-thumb-banner">
  <img src="../assets/styles/images/bolt_black_200x200.png" class="bolt-container"/>
  <p class="product-title" data-id={{product._id}}>{{product.name}}</p> <br>
</div>
  <img class="product-thumb" src={{product.image}} alt="http://imgur.com/qkPReeD" data-id={{product._id}}>
</div>
{{/each}}
