{{#each products as |product|}}
<div class="product-module prod-desc" data-id={{product._id}}>
<p>{{product.description}}</p>
</div>
<br>
<br>
<p>${{product.price}}</p>
   <br>
  <img class="product-thumb" src={{product.image}} alt="http://imgur.com/qkPReeD">
  <p class="product-name">{{product.name}}</p>
</div>
{{/each}}
